.DS_Store

xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

.build/
.swiftpm/
Packages/
Package.resolved

Pods/
Carthage/Build/

fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
